[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = tab
indent_size = 4

[*.{cs,vb}]
charset = utf-8 bom

# IDE0017: Simplify object initialization
dotnet_style_object_initializer = false:suggestion

# IDE0028: Use collection initializers
# dotnet_style_collection_initializer = false:suggestion

# IDE0290: Use primary constructor
# dotnet_diagnostic.IDE0290.severity = none

# SA1010: Opening square brackets should be spaced correctly
dotnet_diagnostic.SA1010.severity = none
