[*.{cs,vb}]

# IDE0017: Simplify object initialization
dotnet_style_object_initializer = false:suggestion

# IDE0028: Use collection initializers
dotnet_style_collection_initializer = false:suggestion
