[submodule "CommandLineCommands"]
	path = CommandLineCommands
	url = https://github.com/jamesjohnmcguire/CommandLineCommands.git
	branch = main
[submodule "DbxOutlookExpress"]
	path = DbxOutlookExpress
	url = https://github.com/jamesjohnmcguire/DbxOutlookExpress
	branch = main
[submodule "MsgKit"]
	path = MsgKit
	url = https://github.com/jamesjohnmcguire/MsgKit
	branch = allow-loose-attachments
[submodule "UtilitiesNet"]
	path = UtilitiesNet
	url = https://github.com/jamesjohnmcguire/UtilitiesNet
	branch = main
