[submodule "DbxOutlookExpress"]
	path = DbxOutlookExpress
	url = https://github.com/jamesjohnmcguire/DbxOutlookExpress
[submodule "MsgKit"]
	path = MsgKit
	url = https://github.com/jamesjohnmcguire/MsgKit
[submodule "UtilitiesNet"]
	path = UtilitiesNet
	url = https://github.com/jamesjohnmcguire/UtilitiesNet
[submodule "MapiLibrary/MAPIStubLibrary"]
	path = MapiLibrary/MAPIStubLibrary
	url = https://github.com/jamesjohnmcguire/MAPIStubLibrary
